* {
  margin: 0;
}

body {
  min-width: 100vw;
  min-height: 100vh;
}

.presentation {
  width: 100%;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 1.5rem;
  padding: 10px;
}

.intro {
  padding: 10px 0;
}

#acerca-de {
  padding: 50px 0;
  background-color: #f9f9f9; /* Un fondo gris claro */
}

.contenedor {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.texto-acerca-de {
  flex: 1 1 500px; /* Ocupa al menos 500px de ancho */
}

.texto-acerca-de h2 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
}

.texto-acerca-de p {
  line-height: 1.6;
  color: #555;
  margin-bottom: 15px;
}


.boton {
  display: inline-block;
  background-color: #007bff; /* Un color primario */
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: #0056b3;
}

.derechos{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  width: 100%;
  height: 50px;
  bottom: 0;
  
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f4f4f4;
}
img {
  width: 100px;
  height: auto;
}
.botones {
  display: flex;
  gap: 10px;
}
.boton {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.boton:hover {
  background-color: #0056b3;
}